.circle-image {
    padding: 5px;
    border-radius: 50%;
    border: 5px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &--sec {
        border-color: var(--sec-accent-color);
    }

    img {
        border-radius: 50%;
        transition: 200ms;
    }

    &:hover img {
        transform: scale(1.1);
    }
}
