.flex {
    display: flex;
}

.align-center {
    justify-content: center;
}

.align-between {
    justify-content: space-between;
}

.align-around {
    justify-content: space-around;
}

.valign-center {
    align-items: center;
}

.valign-start {
    align-items: flex-start;
}

.dir-column {
    flex-direction: column;
}

.bp-flex-large {
    display: none;
}

.bp-block-large {
    display: none;
}

@media (min-width: 1520px) {
    .bp-flex-large {
        display: flex;
    }

    .bp-block-large {
        display: block;
    }
}
