.flex {
    display: flex;
}

.align-center {
    justify-content: center;
}

.align-between {
    justify-content: space-between;
}

.align-around {
    justify-content: space-around;
}

.valign-center {
    align-items: center;
}

.valign-start {
    align-items: flex-start;
}
