@import './rooms.scss';

h2{
  display: flex;
  align-self: auto;
  justify-content: center;
  margin-top: -70px;
  margin-bottom: 100px;
  color: $mainBg;
  white-space: break-spaces;
}

.roomContainer{
  display: flex;
  justify-content: space-between;
}

.roomContainer > img{
  margin-top: -50px;
  width: 520px;
  min-height: 520px;
  max-height: 560px;
  border: 3px inset var(--accent-color);
  margin-right: 40px;
}

.playersZone{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.answersContainer{
  margin-top: 60px;
  min-height: 260px;
  width: 800px;
  background: var(--accent-color);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 0px 2px;
  flex: 1;
}

.answersContainer > form{
  margin-top: 25px;
  margin-bottom: 20px;
  
  padding-left: 10px;
  padding-right: 10px;

  width: 798px;
  height: 60px;
}

.answersContainer > form > input.input{
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: #045294e6;
  padding: 12px;
  border-radius: 16px;
}

.answersContainer > form > input.btn{
  display: none
}

.answers{
  display: flex;
  flex-wrap: wrap;
}

.answer{
  margin: 7px 10px;
  width: fit-content;
  font-size: 24px;
  line-height: 28px;
  border-radius: 50px;
  padding: 12px 18px;
  border: 3px solid #FFFFFF;
}

.disconnectLink{
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  align-items: center;
  text-align: end;
  padding-right: 30px;
  background: var(--accent-color);
  border-radius: 29px;
  width: 337px;
  height: 68px;
  font-size: 36px;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;

  transition-duration: 0.2s;

  &:hover {
    color: var(--accent-color);
    background-color: white;
  }
}

.disconnectIcon{
  width: 47px;
  height: 47px;
}

.timerAndPlayers{
  display: flex;
  margin-top: 60px
}

.timerBox {
  width: 300px;
  height: 300px;

  color: white;
}

.timerTimeText {
  font-size: 60px;

  user-select: none;
}

.playersList{
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  margin-left: 50px;
  flex: 2;
}

.playersList > div {
  flex: 50%;
  display: flex;
  color: #333;
  height: auto;
  border-radius: 10px;
  border-bottom: 1px solid #ffffff59;
  padding: 4px 10px;
  align-items: center;
}

.score{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 20px;
}

.score.blue{
  background: #00A2E2
}
.score.green{
  background: #00E283
}
.score.brown{
  background: #E26C00
}
.score.pink{
  background: #F982FC
}